{% extends 'layout.html' %}

{% block body %}
<form action="/" method="POST">
    <label for="contents">名前：</label>
    <input type="text" name="student_id" value="{{ current_user.name}}" required readonly>
    <p></p>
    <label for="contents">内容：</label>
    <input type="text" name="contents" required>
    <P></P>
    <label for="frequency">頻度：</label>
    <input type="text" name="frequency" required>
    <P></P>
    <label for="period_s">期間：</label>
    <input type="date" name="period_s" required> 〜
    <input type="date" name="period_e" required>
    <P></P>
    <label for="distination">最終目標：</label>
    <input type="text" name="distination" required>
    <P></P>
    <label for="difficulty">難易度：</label>
    <input type="text" name="difficulty" required>
    <P></P>
    分野：
    <label for="field"><input type="radio" name="field" value="生活" required>生活</label>
    <label for="field"><input type="radio" name="field" value="勉強" required>勉強</label>
    <label for="field"><input type="radio" name="field" value="運動" required>運動</label>
    <label for="field"><input type="radio" name="field" value="美容" required>美容</label>
    <p></p>
    <input type="submit" value="登録">
</form>
{% endblock %}
