{% extends 'base.html' %}

{% block body %}
<h1>db_all(テスト用)<br></br>
<a href="/regist_db" role="button">DB登録（テスト・確認用）regist_dbへ</a>
</h1>
{% for post in posts %}
<p> id:{{post.id}}
    name : {{post.name }}
    level: {{post.level}}
    <br></br>
    登録した習慣化数 = {{post.Num_Of_Registration}}
    <br></br>
    <a href="/status/{{ post.id }}" role="button">ステータス一覧</a>
    <a href="/delete/{{ post.id }}" role="button">Delete</a>
    <br></br>
    --------------------------------
    <br></br>
</p>
{% endfor %}
{% endblock %}