{% extends 'layout.html' %}

{% block body %}
<h1>新規登録画面</h1>
<a href="/check" role="button">データベース確認</a>
<br>
<a href="/create_h" role="button" class="btn btn-primary btn-lg m-5" id="sinki">新規登録</a>
<br>
{% for post in posts %}
    {% if post.student_id == s_id %}
        <p>学籍番号：{{post.student_id}}</p>
        <p>内容：{{post.contents}}</p>
        <p>頻度：{{post.frequency}}</p>
        <p>期間：{{post.period_s.date()}}~{{post.period_e.date()}}</p>
        <p>最終目標：{{post.distination}}</p>
        <p>難易度：{{post.difficulty}}</p>
        <p>分野：{{post.field}}</p>
        <a href="delete/{{ post.id }}" role="button">Delete</a>
    {% endif %}
{% endfor %}
<br>
<a href="/kihon" role="button" class="btn btn-secondary btn-lg m-5">基本画面</a>
<a href="/ikusei" role="button" class="btn btn-secondary btn-lg m-5">　育成　</a>
<a href="/sinntyoku" role="button" class="btn btn-secondary btn-lg m-5">進捗記録</a>
{% endblock %}
